.Screen {
  width: 100vw;
  height: 100vh;
  background-color: #474b53;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Table {
  width: calc(100px + 50vh);
  height: calc(100px + 50vh);
  background-color: #000000;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.2% 0.2%;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
}

.Button {
  background-color: #474b53;
  cursor: pointer;
}
.Button:hover {
  opacity: 0.9;
}
